body {
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

p {
  margin: 0;
}

#window {
  position: absolute;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  background-image: url('./../image/bg.jpg');
}

#window .start {
  z-index: 10;
  position: absolute;
  top: 0;
  background-color: #FBCBFF;
  width: 100vw;
  height: 100vh;
}

#window .start .title-image {
  width: 50%;
  height: 390px;
  margin: 0 auto;
  margin-top: 100px;
  background-image: url('./../image/title.png');
  background-size: cover;
  background-repeat: no-repeat;
}

#jessies-adventure.start {
  z-index: -1;
  opacity: 0;
  background-color: black;
}

#jessies-adventure.start .title-image {
  background-image: url('./../image/jessies-adventure.png');
}

.start ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 0;
  text-align: center;
}

.start ul li {
  display: inline-block;
  background-color: white;
  padding: 12px 20px;
  width: 90px;
  color: #707BFB;
  font-size: 20px;
  border-radius: 50px;
  margin-bottom: 10px;
  border: 3px solid #707BFB;
}

.start ul li:hover {
  cursor: pointer;
}

.start ul li a {
  text-decoration: none;
  color: inherit;
}

#window .fail {
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: black;
}

#window .fail h1 {
  margin: 0;
  font-size: 120px;
  font-family: serif;
  color: red;
  text-transform: uppercase;
}

#window .fail h2 {
  color: white;
}

/* Jessie */
#window.go-to-bar::after,
#window.order-drink::after {
  content: '';
  position: absolute;
  top: 250px;
  right: 150px;
  width: 200px;
  height: 300px;
  background-image: url('./../image/char/neutral.png');
  background-size: cover;
}

/* Jessie */
#window.fail::after,
#window.fail::after {
  content: none !important;
}

/* Necklace */
#window.look-around::after {
  content: '';
  position: absolute;
  top: 130px;
  right: 350px;
  width: 300px;
  height: 200px;
  background-image: url('./../image/necklace.png');
}

#menu {
  display: none;
  background-color: rgba(255, 255, 255, 0.8);
  margin: 50px;
  padding: 20px;
  width: 200px;
}

.menu h1:first-of-type {
  margin-top: 0;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu ul li {
  padding: 10px;
  left: 0;
}

.menu ul li:focus,
.menu ul li:hover {
  background-color: rgba(29,109,250, 0.5);
}

.dialogue-holder {
  display: flex;
  flex-direction: row;
  z-index: 5;
  border-radius: 10px;
  width: calc(100vw - 200px);
  height: 200px;
  margin: 50px;
  padding: 50px;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: left;
  position: absolute;
  bottom: 0;
}
  
#image-holder {
  display: none;
  min-width: 200px;
  min-height: 200px;
  margin-right: 50px;
}
  
#image-holder.hero {
  display: block;
}
  
#image-holder .image {
  background-size: cover;
  min-width: 200px;
  min-height: 200px;
  margin-right: 50px;
}
  
#image-holder.hero .image {
  background-image: url('./../image/char/lol.png');
}

#image-holder .image {
  width: 100%;
  height: 100%;
}

.text-holder {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.text-holder #next {
  display: inline-block;
  position: absolute;
  bottom: -20px;
  right: 0;
  width: 0;
  height: 0;
  border: 20px solid #1D6DFA;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
}

.text-holder p {
  font-size: 36px;
  line-height: 50px;
}