<%
	vars = {
        :text => 'Quack',
        :image => '/images/lol.png'
	}.deep_merge(locals)
%>

<div class="dialogue-holder">
    <% if !vars[:image].nil? %>
    <div class="image-holder">
        <div class="image" style="background-image: url('<%= vars[:image] %>');"></div>
    </div>
    <% end %>
    <div class="text-holder">
        <%= vars[:text] %>
    </div>
</div>
