---
title: Welcome to Middleman
---

<%= partial("partials/menu", :locals => {
  :options => [
      :title => 'one',
      :path => '#'
  ]
}) %>

<h1>
  <%= partial("partials/dialogue", :locals => {
    :text => 'aaaaa',
    :image => '/images/lol.png'
  }) %>
</h1>
